@import url("global.CSS");
@font-face {
  font-family: "Alagard";
  src: url("/src/fonts/alagard.ttf");
}
.headerGame {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 184px;
  margin: 50px auto;
}
.headerGame p {
  font-family: "Alagard";
  font-size: 128px;
  color: white;
  text-align: center;
  text-shadow: 0px 11px 4px #39344f;
  margin-top: 20px;
}

.login {
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  width: 500px;
  height: 400px;
  margin: auto;
  background-color: var(--backgroundPanelWhite);
  border-radius: 10px;
  box-shadow: 0px 0px 14px 8px rgba(57, 52, 79, 0.8);
}

.login__title {
  margin: 37px 0;
}

.login__formLog {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}
.formLog_label {
  display: flex;
  align-items: center;
  background: white;
  height: 44.5px;
  width: 350px;
  padding: 0 0 0 0.9rem;
  border-radius: 5px;
}
.formLog_label:first-child {
  margin-bottom: 26px;
}
.userIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../assets/icons/User_icon.svg") no-repeat center;
}
.lockIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../assets/icons/Lock_Icon.svg") no-repeat center;
}
.login__formLog input {
  width: 350px;
  padding: 0.9rem 0.2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
}
.login__formLog input:focus {
  outline: none;
}
.login--btn {
  width: 25%;
  margin: 26px 0;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--disableBtn);
  color: var(--backgroundPanelWhite);
  border: none;
  border-radius: 5px;
}
.login--btn:hover {
  background-color: var(--activeBtn);
}
.login__info {
  font-size: 15px;
  color: var(--grayText);
  text-align: center;
  /* width: 100%; */
}
