@import url("global.CSS");
@import url("/src/css/animations.css");
body {
  background: var(--backgroundPanelWhite) no-repeat center center fixed;
}
.mainRegister {
  display: flex;
  width: 100%;
  height: 100vh;
}
.userInformation {
  width: 60%;
  height: 100%;
  padding: 60px 100px;
  background-color: var(--backgroundPanelWhite);
}
.nav__list {
  display: flex;
  list-style: none;
  margin: 28px 0;
}
.list_menu {
  width: 83px;
  cursor: pointer;
  font-size: 24px;
  color: var(--greenText);
  border-bottom: solid 4px var(--greenText);
}
.localidad {
  margin-left: 40px;
  width: 148px;
  color: var(--disableBtn);
  border-bottom: solid 4px var(--disableBtn);
}
.local-active {
  color: var(--greenText);
  border-bottom: solid 4px var(--greenText);
}
.userInformation__userInfo {
  /* background-color: lightblue; */
  /* height: 500px; */
  margin-top: 42px;
}
.userInfo__info {
  display: block;
}
.userInfo__location {
  position: relative;
  display: none;
}
.userInfo__info label {
  display: block;
  font-size: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  color: var(--grayText);
}
.userInfo__location label {
  display: block;
  font-size: 20px;
  cursor: pointer;
  color: var(--grayText);
}
.userInformation__userInfo input {
  width: 444px;
  height: 45px;
  margin-bottom: 35px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  color: black;
}
.userInformation__userInfo input:focus {
  outline: none;
}
.btn--registrar {
  width: 444px;
  height: 60px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  border: none;
  background-color: var(--disableBtn);
  transition: all 0.2s ease-in-out;
}
.btn--registrar:hover {
  background-color: var(--greenText);
}

.inputFail {
  font-size: 14px;
  color: red;
  margin-bottom: 8px;
}
.userFail,
.passFail {
  display: none;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: var(--greenText);
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

/***SELECTS***/
.visible {
  display: block !important;
}
.hidden {
  display: none !important;
}
.select-box {
  position: absolute;
  display: flex;
  width: 444px;
  flex-direction: column;
  z-index: 0;
}
.options-container {
  display: none;
  width: 100%;
  order: 1;
  opacity: 0;
  overflow: hidden;
  color: rgb(56, 52, 52);
  border-radius: 0px 0px 8px 8px;
  background: white;
}
.option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}
.select-box .option .radio {
  display: none;
}
.selected {
  background: white;
  border-radius: 8px;
  height: 44px;
  color: rgb(56, 52, 52);
  position: relative;
  order: 0;
}
.selected:after {
  content: "\f106";
  position: absolute;
  right: 20px;

  font-family: "Font Awesome 5 Free";
  font-weight: 700;

  color: black;
  transform: rotate(180deg);
  transition: all 0.4s;
}
.option:hover {
  background: #f1fff3;
  border-radius: 5px;
  color: #8ad891;
}
.option input:hover {
  font-weight: 700px;
}
.search-box {
  display: none;
  width: 100%;
  height: 55px;
  padding: 6px 8px;
  background-color: #ebebeb;
}
.search-box input {
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  opacity: 0;
  outline: 3px solid black;
  outline-offset: -10px;
  z-index: 100;
  border: none;
}
.select-box .options-container.active {
  display: block;
  max-height: 200px;
  opacity: 1;
  overflow-y: scroll;
  transition: all 0.4s;
  position: absolute;
  z-index: 10;
  top: 99px;

  /* margin-top: 54px; */
}
.select-box .options-container.active ~ .selected::after {
  transform: rotateY(180deg);
  /* top: -6px; */
}
.select-box .options-container::-webkit-scrollbar {
  width: 7px;
  background: var(--greenText);
  border-radius: 8px;
  height: 1px;
}
.select-box .options-container::-webkit-scrollbar-thumb {
  background: #464749;
  border-radius: 8px 8px 8px 8px;
}
.select-box .options-container.active ~ .search-box input {
  opacity: 1;
  pointer-events: auto;
}
.countryLabel {
  height: 100px;
}
.stateLabel {
  /* margin-top: 100px; */
  height: 100px;
}
.cityLabel {
  height: 100px;
}
.select-box-countries {
  z-index: 50;
}
.select-box-states {
  z-index: 25;
}
.select-box-states {
  z-index: 15;
}

/***PROMO***/
.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  background-image: url("/src/assets/img/backPromoImg2.png");
  background-size: cover;
  background-position: -1000px 0px;
  background-repeat: no-repeat;
}
.promo__info {
  position: absolute;
  bottom: 50px;
  margin-top: 30px;
  font-size: 18px;
  color: white;
  text-align: center;
}
.promo__info a {
  font-size: 18px;
}
.promo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 80%;
  text-align: center;
  font-size: 32px;
  color: white;
}
.promo_text p {
  height: 560px;
}
